<!-- <form formGroupName="userData">
    <mat-card-content>
        <mat-form-field>
            <input type="text" placeholder="First Name" formControlName="firstName" name="" id="">
        </mat-form-field>
    </mat-card-content>
</form> -->
<mat-card>
    <mat-card-title>dialog box</mat-card-title>
    <mat-card-content>	
        <button mat-raised-button (click)="openDialog()">open Dialog</button>
        <hr>
        <span>result:{{DialogResult}}</span>
    </mat-card-content>	
</mat-card>

<h3 class="appTextHover">Create User Account</h3>
<form [formGroup]="userData" >
    <mat-form-field>
        <input matInput type="text" placeholder="First Name" formControlName="fname" name="" id="">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="last Name" formControlName="lname" name="" id="">
        <mat-error >Require filed</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" name="" id="">
        <mat-error >Require filed</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="phone" placeholder="Phone" formControlName="phone" name="" id="">
        <mat-error >Require filed</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput formControlName="date" [matDatepicker]="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
        <mat-error >Require filed</mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field>
        <textarea matInput formControlName="address"  placeholder="Description" name="" id="" cols="3" rows="3" required></textarea>
        <mat-error >Require filed</mat-error>
    </mat-form-field> -->
    <!-- <mat-form-field> -->
        <button [disabled]="!userData.valid"mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    <!-- </mat-form-field> -->
    <!-- <button [disabled]="!userData.valid"mat-raised-button color="primary" (click)="onEdit()">Edit</button> -->

</form>
